#preloader {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(180, 168, 167, 0.1);
}
#preloader i {
    color: black;
    font-size: 100px;
    margin: 20% 0 0 46%;
}
input.error, input.error:focus{
    border: 1px solid #dd4b39;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #dd4b39;
}
p.error{
    color: #dd4b39;
}
.time-div {
    float: left;
    width: 12.5%;
    border: 1px solid grey;
}
.weather-time {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 10px 0;
}
.container hr {
    margin: 0 0 0 0;
}
.first-weather {
    float: left;
    margin-left: 2%;
    width: 48%;
    height: 50px;
}
.second-weather {
    float: right;
    margin-right: 2%;
    width: 48%;
    height: 50px;
}
p {
    margin-bottom: 0;
}
.bold {
    font-weight: bold;
    font-size: 13px;
}
.sun {
    width: 100%;
    border: 1px solid grey;
    border-top: 0;
}
.disabled {
    pointer-events:none;
    opacity:0.6;
}
li.active a {
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
}
